<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TNG24V2</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
<!--     <welcome-file>PantallaCliente.jsp</welcome-file> -->
<!--     <welcome-file>PantallPresupuesto.jsp</welcome-file> -->
  </welcome-file-list>
  <servlet>
    <description>ClientesSERVLET</description>
    <display-name>ClientesSERVLET</display-name>
    <servlet-name>ClientesSERVLET</servlet-name>
    <servlet-class>servlets.ClientesSERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientesSERVLET</servlet-name>
    <url-pattern>/ClientesSERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>PresupuestosSERVLET</description>
    <display-name>PresupuestosSERVLET</display-name>
    <servlet-name>PresupuestosSERVLET</servlet-name>
    <servlet-class>servlets.PresupuestosSERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresupuestosSERVLET</servlet-name>
    <url-pattern>/PresupuestosSERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PresupuestoDetalleSERVLET</display-name>
    <servlet-name>PresupuestoDetalleSERVLET</servlet-name>
    <servlet-class>servlets.PresupuestoDetalleSERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresupuestoDetalleSERVLET</servlet-name>
    <url-pattern>/PresupuestoDetalleSERVLET</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>